

<h2><img class="avatar-profile" style="background-color: <%= String(profileAvatarBGcolor) %>;" src="<%= profileAvatar %>"><span class="text-2"><%= profileAvatarname %> </span>  
    
  
  <% if (user && !isVisitorsProfile) {

      if(isFollowing){ %>
        <form class="ml-2 d-inline" action="/removeFollow/<%= profileUsername %>" method="POST">
         <input type="hidden" name="_csrf" value="<%= csrfToken %>">
         <button class="align-bottom btn btn-danger btn-sm">Remove from my Galaxy &nbsp; <i class="fas fa-user-times"></i></button>
        </form>
        <% } else { %>
        <form class="ml-2 d-inline" action="/addFollow/<%= profileUsername %>" method="POST">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <button class="align-bottom btn btn-primary btn-sm">Add to my Galaxy &nbsp; <i class="fas fa-user-plus"></i></button> 
        </form>
    <% }
    } %>


  </h2>

  <div class="profile-nav nav nav-tabs pt-2 mb-4">
    <a href="/profile/<%= profileUsername %>" class="text-0 profile-nav-link nav-item nav-link <%= currentPage == 'posts' ? 'active' : '' %>">Posts: <%= counts.postCount %></a>
    <a href="/profile/<%= profileUsername %>/followers" class="text-0 profile-nav-link nav-item nav-link <%= currentPage == 'followers' ? 'active' : '' %>">Followers: <%= counts.followerCount %></a>
    <a href="/profile/<%= profileUsername %>/following" class="text-0 profile-nav-link nav-item nav-link <%= currentPage == 'following' ? 'active' : '' %>">Galaxy Members: <%= counts.followingCount %></a>
  </div>