<%- include('includes/header') %>
<%- include('includes/bg') %>
  
  <div class="container py-md-5 container--narrow">

    <%- include('includes/flash') %>

    <div class="text-center" style="color:#6e6e6e">
      <div class="text-0 box-container-1"><h2>Welcome to your galaxy, <strong><%= user.avatarnameFull %></strong></h2></div>
      <br><br><br>
    </div> 

    <% if (posts.length) { %>
      <div class="box-container-0">

      <h3 class="text-0 postboard-header-text text-center mb-4">Galaxy member feed:</h3>
      <div class="list-group">
        <% posts.forEach(function(post){ %>
        <a href="/post/<%= post._id %>" class="list-group-item list-group-item-action">
            <img class="avatar-tiny" style="background-color: <%= String(post.createdBy.avatarbgcolor) %>;" src="<%= post.createdBy.avatar %>">
            <strong><%= post.greeting %> - <%= post.title %></strong> <span class="text-muted small">by <%= post.createdBy.username %> on <%= post.createdDate.getMonth() + 1 %> /<%= post.createdDate.getDate() %> /<%= post.createdDate.getFullYear() %></span>
        </a>  
        <% }) %>
      
      </div>
    </div>

    <% } else { %>

      <div class="text-center" style="color:#6e6e6e">        
        
      </div>  

      <div class="screenContentContainer0"> 
        

        <div class="text-0 mainSpeechBubble sb2">You can find other alien cats in the universe by using the CatChat <i class="fas fa-comment"></i> </span></div>          
      
      <div class="meowmersWrapper">
    <div style="flex-basis:200px" class="meowmers"> </div>
        </div>
    </div>
  
      <% } %>

  </div>
  
  <%- include('includes/footer') %>
