<%- include('includes/header') %>
<%- include('includes/bg') %>

<div class="box-container-2 container py-md-5 container--narrow">

  <%- include('includes/flash') %>


  <%- include('includes/profileShared') %>    



    <div class="list-group">

        <% following.forEach(function(follow){ %>
        <a href="/profile/<%= follow.username %>" class="list-group-item list-group-item-action">
            <img class="avatar-tiny" style="background-color: <%= String(follow.avatarbgcolor) %>;" src="<%= follow.avatar %>">
            <strong><%= follow.avatarnameFull %></strong> 
        </a>  
        <% }) %>

    </div>
  </div>

  <%- include('includes/footer') %>