<%- include('includes/header') %>
<%- include('includes/bg') %>

<div class="container container--narrow align-items-center p-2"><div><%- include('includes/flash') %></div></div>


<div class="box-container-2 container py-md-5 container--narrow">  

  <%- include('includes/profileShared') %>    
  
    <div class="list-group">

        <% posts.forEach(function(post){ %>
        <a href="/post/<%= post._id %>" class="list-group-item list-group-item-action">
            <img class="avatar-tiny" style="background-color: <%= String(post.createdBy.avatarbgcolor) %>;" src="<%= post.createdBy.avatar %>">
            <strong><%= post.greeting %> - <%= post.title %></strong> on <%= post.createdDate.getMonth() + 1 %> /<%= post.createdDate.getDate() %> /<%= post.createdDate.getFullYear() %>
        </a>  
        <% }) %>

    </div>
</div>

  <%- include('includes/footer') %>